.prepaid-plan-container {
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: aqua; */
  /* height: 100vh; */
}
.jio-prepaid-plans-row {
  display: flex;
  justify-content: space-evenly;
  /* column-gap: 30px; */
  padding-left: 50px;
  padding-right: 50px;
}
.prepaid-plan-card {
  width: calc(95% - 20px);
  margin-bottom: 30px;
  background-color: #e8e5e5;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  height: 95%;
}
.custom-splide .splide__slide {
  padding-left: 20px;
  padding-right: 45px;
}
.custom-splide .splide__slide:first-child {
  margin-left: 2%;
}
